form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    margin: 10px 0 5px;
    font-weight: bolder;
}

form input, form textarea {
    padding: 10px;
    margin-bottom: 10px;
    width: 80%;
    max-width: 400px;
}

form button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}